.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 45vw;
  min-width: 500px;
  margin: 30px auto 30px auto;
  flex-direction: row;
  background-color: var(--bs-gray-100);
  padding: 10px 20px 10px 20px;
  border-radius: 0.5em;
}

.slider-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto 30px auto;
  border-radius: 0.5em;
  height: 50px;
}

.range-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: 90%;
  border-left: 2px solid var(--bs-secondary-bg-subtle);
  border-right: 2px solid var(--bs-secondary-bg-subtle);
  padding: 10px;
}

.slider {
  width: 100%;
  margin: 20px 20px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  background: #d3d3d3;
  height: 5px;
  border-radius: 0.1em;
}

input[type="range" i]::-webkit-slider-thumb {
  --c: orange; /* active color */
  --g: 8px; /* the gap */
  --l: 5px; /* line thickness*/
  --s: 10px; /* thumb size*/

  -webkit-appearance: none;
  appearance: none;

  aspect-ratio: 1 !important;
  border-radius: 20% !important;
  border: 2px solid #0a53be;

  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: var(--bs-blue); /* Green background */
  cursor: pointer; /* Cursor on hover */

  transition: 0.3s !important;
}

.slider-value {
  white-space: nowrap;
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
  color: var(--bs-light-text-emphasis);
}
